apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: {{ include "chart.fullname" . }}
  labels:
{{ include "chart.labels" . | indent 4 }}
  annotations:
    kubernetes.io/ingress.class: traefik
spec:
  rules:
    - host: {{ .Values.ingress.host }}
      http:
        paths:
          - path: "/"
            backend:
              serviceName: {{ include "chart.fullname" . }}
              servicePort: http
